Addon:
  Name: {{{Name}}}
  Ref: {{REF}}
  SourceType: {{SourceType}}
  Source: {{Source}}
  Description: {{Description}}
  Type: {{Type}}
  DependOns: {{{DependOns}}}
  Conflicts: {{Conflicts}}
  Migrations: {{Migrations}}
  Docs: {{Docs}}
  DataSources: {{DataSources}}